.cv-menu {
  @include box-shadow(0, 0.03em, rgba(0, 0, 0, 0.075), 0.15em);
  background-color: $bs-bg-light;
  border: none;
  top: 4.15em;
  z-index: 102;

  .navbar-toggler {
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .nav-item {
    @include padding-left-right(1em);
    @include padding-top-bottom(0.75em);
    @include border-radius(0);

    font-weight: 500;
    margin-bottom: 0;

    @include min-break-point(tablet-landscape) {
      border-right: 1px solid $border-color;
    }

    &:first-child {
      @include min-break-point(tablet-landscape) {
        border-left: 1px solid $border-color;
      }
    }

    a {
      color: $body-secondary-color;

      &.active, &:hover {
        color: $primary-color
      }
     

    }
  }
}
