.btn-primary {
  text-transform: uppercase;
  color: $gray-100;
  background-color: $primary-color;
  border: $primary-color;
  margin-bottom: 0.625rem;
  z-index: 1;

  @include min-break-point(tablet) {
    margin-bottom: 0;
    width: auto;
  }

  &:hover,
  &:active,
  &:focus {
    color: $gray-100;
    background-color: $primary-color-hover !important;
  }

  &:focus {
    box-shadow: none;
  }

  &.outlined {
    background: transparent;
    border: 0.063rem solid $primary-color;
    color: $primary-color;
    svg {
      path {
        fill: $primary-color;
      }
    }
    &:hover,
    &:active,
    &:focus {
      background-color: $primary-color-hover;
      color: $white;
      border-color: $primary-color-hover;
      svg {
        path {
          fill: $white;
        }
      }
    }
    &.white {
      border: 0.063rem solid $white;
      color: $white;
      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
  }
}

.btn-link {
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $primary-color-hover;
    text-decoration: underline;
  }
}

.btn-outline-light {
  @include padding-top-bottom(0.75em);
  @include padding-left-right(2em);
  @include border-radius(0.3em);

  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $primary-color-hover;
  }
}
.fill-white {
  path {
    fill: $body-secondary-color;
  }
}
.overlay-primary,
.overlay {
  .fill-white {
    path {
      fill: $white;
    }
  }
}

.btn-close {
  background: $primary-color
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/0.8em auto no-repeat;
}
