.hero-about {
  &::after {
    content: '';
    position: absolute;
    width: 35.405rem;
    height: 43.9456rem;
    left: 47.5rem;
    top: 7rem;
    background: linear-gradient(
      180deg,
      rgba(176, 64, 64, 0.27) 0%,
      rgba(84, 84, 212, 0.114) 100%
    );
    filter: blur(6.2221rem);
    border-radius: 11.8854rem;
    transform: rotate(-54.37deg);
    z-index: -1;
  }
}

[data-theme='dark'] {
  .hero-about {
    &::after {
      background: linear-gradient(
        180deg,
        rgba(26, 188, 254, 0.27) 0%,
        rgba(84, 84, 212, 0.1134) 100%
      );
    }
  }
}

.about-hero-img {
  z-index: 5;
  &::before {
    background: $gray-400;
    content: '';
    position: absolute;
    width: 19.4rem;
    height: 13.5rem;
    left: 0;
    top: 2.1875rem;
    z-index: -1;
    border-radius: 0.3125rem;
  }
  &::after {
    background: $primary-color;
    content: '';
    position: absolute;
    width: 19.4rem;
    height: 13.5rem;
    right: -1.5rem;
    bottom: 0.9rem;
    z-index: -1;
    border-radius: 0.3125rem;
  }
}

.about-us-page {
  .hero-section-container::before {
    right: -2em;
  }
}

[data-theme='dark'] {
  .about-us-page {
    .hero-section-container::before {
      background: linear-gradient(180deg, $blur-pink 0%, $blur-blue 100%);
      right: 2em;
      filter: blur(133.5px);

      @include media-breakpoint-down(xl) {
        width: 26em;
      }

      @include media-breakpoint-down(lg) {
        top: 21em;
      }

      @include media-breakpoint-down(md) {
        top: 22em;
        right: 5em;
        width: 20em;
      }
    }
  }
}

.get-started-button {
  border: 0.063rem solid $primary-color;
}
