.project-overview-section {
  h2::after {
    border-bottom: 0;
  }
}

.project-overview {
  padding-top: 3.75em;
}

.project-description {
  line-height: 1.5;
  margin-bottom: 1.45rem;
}

.project-overview-icon {
  @include size(2.5em);
  @include border-radius(50%);
  background-color: $primary-color;
  color: $white;
  font-size: 1.5em;
}

.project-overview-title {
  padding-top: 0.375em;
}

.project-overview-description {
  display: block;
  margin-bottom: 1em;
  padding-left: 4em;
}

.project-overview-left-side {
  @include min-break-point(tablet) {
    width: 80%;
  }
}

.project-overview-implementation-step {
  &::before {
    @include size(0.313em);
    @include transform(rotate(40deg) translate(-0.625em, 1.25em));

    background-color: $primary-color;
    content: '';
    position: absolute;
  }
}
